[Unit]
Description=GenieACS CWMP
After=network.target

[Service]
User=root
EnvironmentFile=/opt/genieacs/genieacs.env
ExecStart=/opt/genieacs/bin/genieacs-cwmp
KillMode=process

[Install]
WantedBy=default.target