[Unit]
Description=STUN service
After=network.target

[Service]
User=root
ExecStart=/opt/stunserver/stunserver
KillMode=process

[Install]
WantedBy=default.target