[Unit]
Description=STUN service
After=network.target

[Service]
User=genieacs
EnvironmentFile=/opt/stunserver/stunserver.env
ExecStart=/opt/stunserver/stunserver
KillMode=process

[Install]
WantedBy=default.target