[Unit]
Description=Stuntman stunserver
After=network.target

[Service]
User=genieacs
ExecStart=/opt/stunserver/stunserver --reuseaddr --verbosity 3
KillMode=process

[Install]
WantedBy=default.target